/* css for website*/

nav {
  width: 100%;
  background: #262626;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.nav_class {
  padding: 0;
  margin: 0;
  list-style: none; 
}

html {
  scroll-behavior: smooth;
}


/* First aid and medicines */
h4 {
  border: 10px;
  color: DarkRed;
  font-style: bold;
}

h1{
  text-align: center;
  font-family: Tapestry;
  font-weight: bold;
}

h2{
  font-weight: bold;
  text-align: center;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: indigo;
}
.center:hover {
  transform: translateY(-10px);
}

.header{
  background-color: moccasin;
  color: brown;
  text-align: center;
  padding: 20px;
  margin: 15px;
}

#grad {
  background-image: linear-gradient(
    to right,
    rgba(122, 199, 250, 0.4),
    rgb(79, 167, 255)
  );
}


  /* Index page */
#image_home, .image_home{             /*css for index page*/
  padding-top: 5%;
  text-align: center;
  color: #f8f8f8; 
  background-image: url(images/p2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  
  animation-name: back; 
  animation-duration: 60s;
}


@keyframes back {
  0%   {background-image: url(images/p2.jpg); background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;}
  25%  {background-image: url(images/back_1.jpg); background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;}
  50%  {background-image: url(images/p9.jpg); background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;}
  100% {background-image: url(images/p2.jpg); background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;}
}

#content, .content{
  margin: auto;
  position: relative;
  text-align: center;
  padding-top:5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius:20px;
  background-image: url(images/back.jpg);
  border : 1px solid rgb(29, 205, 2);
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: back2;
  animation-duration: 40s;
  box-shadow: 0px 0px 10px 4px  #0ff;
}

@keyframes back2{
  0%   {background-image: url(images/p3.jpg);}
  25%  {background-image: url(images/back.jpg);}
  50%  {background-image: url(images/back.jpg);}
  100% {background-image: url(images/p3.jpg);}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(2, 5, 40, 0.2);
  margin:10px;
  text-align: center;
  background-image: url(images/p2.jpg);
  color: white;
  border-radius:10px;
  border : 1px solid rgb(29, 205, 2);
  box-shadow: 0px 0px 5px 1px  #0ff;
}

.fa {font-size:15px;}

input[type=text], input[type=password],input[type=email], .form-select {
  width: auto;
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  color:black;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus ,input[type=email]:focus, .form-select:focus {
background-color: rgb(0, 187, 239);
outline: none;
}